body {
    font-family: Arial, sans-serif;
}

.faq {
    max-width: 600px;
    margin: 0 auto;
}

.question {
    margin-bottom: 20px;
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.question h3 {
    margin: 0;
}

.answer {
    display: none;
}

.question.open .answer {
    display: block;
}
